<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<button class="wishlist-btn" data-product-id="{{ productid }}">
  <i class="heart-icon">❤️</i>
</button>
<style>
    .wishlist-btn {
  background: none;
  border: none;
  cursor: pointer;
}
</style>
<script>
$('.wishlist-btn').on('click', function() {
  var productId = $(this).data('product-id');
  var wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
  console.log('Producto añadido a la lista de deseos:', productId);
  if (wishlist.includes(productId)) {
    wishlist = wishlist.filter(function(id) { return id !== productId; });
    // Opcional: Cambia el ícono o estilo para indicar que el producto fue removido
  } else {
    wishlist.push(productId);
    // Opcional: Cambia el ícono o estilo para indicar que el producto fue añadido
  }

  localStorage.setItem('wishlist', JSON.stringify(wishlist));
});

</script>