<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<div class="wishlist-header-btn">
  <i class="heart-icon">❤️</i>
  <span class="wishlist-count">0</span>
</div>

<script>
    function updateWishlistCount() {
  var wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
  $('.wishlist-count').text(wishlist.length);
}

// Llamar esta función al cargar la página y después de modificar la lista de deseos
updateWishlistCount();
</script>