<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<button class="wishlist-btn" data-product-handle="{{ producthandle }}">
  <i class="heart-icon">❤️</i>
</button>
<script>
$('.wishlist-btn').on('click', function() {
  var productHandle = $(this).data('product-handle');
  var wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];

  if (wishlist.includes(productHandle)) {
    wishlist = wishlist.filter(function(handle) { return handle !== productHandle; });
  } else {
    wishlist.push(productHandle);
  }

  localStorage.setItem('wishlist', JSON.stringify(wishlist));

  // Actualiza el contador del encabezado
  updateWishlistCount();
});

function updateWishlistCount() {
  var wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
  $('.wishlist-count').text(wishlist.length);
}
</script>
