{%- layout none -%}
<div class="contenedor-deseo" id="wishlist-container">
  <h1 class="titulo">{{ page.title }}</h1>
  <div id="wishlist-items"></div>
</div>

<script>
 document.addEventListener('DOMContentLoaded', function() {
  var wishlist = JSON.parse(localStorage.getItem('wishlist')) || []; // Asegúrate de que esto almacena handles, no IDs
  var container = document.getElementById('wishlist-items');

  wishlist.forEach(function(productHandle) {
    fetch(`/products/${productHandle}.js`)
      .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(product => {
        container.innerHTML += `<div class="wishlist-product" id="wishlist-item-${productHandle}">
          <a href="${product.url}">
                                  <img width=150 height=150 src="${product.featured_image}" alt="${product.title}">
                                  </a>
                                  <div class="textos">
                                  <div class="textosdos">
                                  <h3>${product.title}</h3>
                                  <button class="eliminar-deseo" onclick="removeFromWishlist('${productHandle}')">
                                    <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 5.08703C0 5.38294 0.117551 5.66673 0.326793 5.87597C0.536034 6.08522 0.819827 6.20277 1.11574 6.20277H1.7108V19.3871C1.71178 20.3606 2.0989 21.294 2.78721 21.9824C3.47552 22.6709 4.40881 23.0582 5.38233 23.0594H14.6177C15.5912 23.0582 16.5245 22.6709 17.2128 21.9824C17.9011 21.294 18.2882 20.3606 18.2892 19.3871V6.20277H18.8843C19.1802 6.20277 19.464 6.08522 19.6732 5.87597C19.8824 5.66673 20 5.38294 20 5.08703C20 4.79111 19.8824 4.50732 19.6732 4.29808C19.464 4.08884 19.1802 3.97129 18.8843 3.97129H14.9792V2.81985C14.9792 1.26525 13.7147 0 12.1601 0H7.83993C6.28533 0 5.02083 1.2645 5.02083 2.81985V3.97054H1.11574C0.819827 3.97054 0.536034 4.0881 0.326793 4.29734C0.117551 4.50658 0 4.79111 0 5.08703ZM7.25231 2.82059C7.25231 2.49554 7.51562 2.23222 7.83993 2.23222H12.1601C12.4844 2.23222 12.7477 2.49554 12.7477 2.82059V3.97129H7.25156V2.81985L7.25231 2.82059ZM3.94228 6.20277H16.0577V19.3871C16.0573 19.769 15.9055 20.1351 15.6356 20.4052C15.3656 20.6753 14.9995 20.8273 14.6177 20.8279H5.38233C5.00045 20.8273 4.6344 20.6753 4.36445 20.4052C4.09449 20.1351 3.94267 19.769 3.94228 19.3871V6.20277Z" fill="#302029"/>
<path d="M7.22695 18.7727C7.52286 18.7727 7.80665 18.6551 8.01589 18.4459C8.22513 18.2367 8.34268 17.9529 8.34268 17.657V9.3737C8.34268 9.07779 8.22513 8.794 8.01589 8.58476C7.80665 8.37552 7.52286 8.25797 7.22695 8.25797C6.93103 8.25797 6.64724 8.37552 6.438 8.58476C6.22876 8.794 6.11121 9.07779 6.11121 9.3737V17.657C6.11121 17.9529 6.22876 18.2367 6.438 18.4459C6.64724 18.6551 6.93103 18.7727 7.22695 18.7727ZM12.7729 18.7727C13.0688 18.7727 13.3526 18.6551 13.5619 18.4459C13.7711 18.2367 13.8887 17.9529 13.8887 17.657V9.3737C13.8887 9.07779 13.7711 8.794 13.5619 8.58476C13.3526 8.37552 13.0688 8.25797 12.7729 8.25797C12.477 8.25797 12.1932 8.37552 11.984 8.58476C11.7747 8.794 11.6572 9.07779 11.6572 9.3737V17.657C11.6572 17.9529 11.7747 18.2367 11.984 18.4459C12.1932 18.6551 12.477 18.7727 12.7729 18.7727Z" fill="#302029"/>
</svg>

                                  </button>
                                  </div>
                                  <span>${product.variants[0].price}</span>

                                  <button onclick="addToCart(${product.variants[0].id})">Add to Cart</button>
                                
                                  </div>
                                  </div>`;
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  });
});

function addToCart(variantId) {
  $.ajax({
    type: 'POST',
    url: '/cart/add.js',
    data: {
      id: variantId,
      quantity: 1
    },
    dataType: 'json',
    success: function() { 
      window.location.href = '/cart'; // Redirige al usuario a la página del carrito
    },
    error: function() {
      alert("Hubo un error al añadir el producto al carrito.");
    }
  });
}


function removeFromWishlist(productId) {
  var wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
  var newWishlist = wishlist.filter(function(item) {
    return item !== productId;
  });
  localStorage.setItem('wishlist', JSON.stringify(newWishlist));

  // Eliminar el elemento de la lista de deseos en la interfaz
  document.getElementById('wishlist-item-' + productId).remove();
  updateWishlistCount();
  // Manejar el estado vacío
  if (newWishlist.length === 0) {
    container.innerHTML = '<p>Tu lista de deseos está vacía.</p>';
  }
}



</script>
<style>

  @media (max-width: 768px) {
    .titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size:2.5rem;
  }
  .contenedor-deseo{
  padding: 16px;
  }
  .wishlist-product{
    display:flex;
    flex-direction: row;
    gap:10px;
  }
  .textosdos{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
  }
  .eliminar-deseo{
    background-color: transparent;
    outline: none;
    border:none;
  }
  }
  @media (min-width: 769px) and (max-width: 1536px) {
    .titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size:4rem;
  }
  .contenedor-deseo{
  padding: 30px;
  }
  }

  
</style>